//
//  Rabee-DEV.xcconfig
//  Rabee
//
//  Created by Wahid Hidayat on 17/07/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

VERSION_NAME = 1.0.0
BUILD_NUMBER = 1
PRODUCT_BUNDLE_IDENTIFIER = com.wakhidhidayat.dev.Rabee
PRODUCT_NAME = Rabee-Dev
TARGETED_DEVICE_FAMILY = 1
IPHONEOS_DEPLOYMENT_TARGET = 16.4
